@model TP05_Kampel_Pita.Models.Habitacion

<div class="habitacion-pantalla">
    <div class="habitacion-caja">
        <p class="habitacion-descripcion">@Model.Descripcion</p>
        <p class="habitacion-pista">@Model.Pista</p>
        <p class="habitacion-Adivinanza">@Model.Adivinanza</p>

        <audio autoplay loop>
    <source src="/audio/tormenta.mp3" type="audio/mpeg"> 
    Tu navegador no soporta el audio.
</audio>

        <div class="habitacion-imagen" style="position: relative;">
            <img src="/img/Habitacion3.png" alt="Habitación abandonada" usemap="#mapaHabitacion3" />
            <form method="get" action="@Url.Action("Traductor", "Home")" style="position: absolute; left: 1400px; top: 10px; width: 80px; height: 100px; margin: 0; padding: 0;">
                <button type="submit" style="width: 100%; height: 100%; opacity: 0; border: none; background: none; cursor: pointer; position: absolute; left: 0; top: 0;">Ir al traductor</button>
            </form>
            <map name="mapaHabitacion3">
                <area shape="rect" coords="320,330,410,440" href="@Url.Action("Carta", "Home")" alt="Ver carta" />
            </map>
        </div>

        <form method="post" asp-action="ResolverHabitacion" class="habitacion-formulario">
            <input type="hidden" name="habitacionNumero" value="3" />
            <label for="respuesta">Palabra clave:</label>
            <input type="text" name="respuesta" id="respuesta" class="habitacion-input" required />
            <button type="submit" class="habitacion-boton">Enviar</button>
        </form>

        @if (ViewBag.Error != null)
        {
            <p class="habitacion-error">@ViewBag.Error</p>
        }

        <a href="@Url.Action("Index", "Home")" class="btn-volver">Volver al Inicio</a>
    </div>
</div>