<div class="habitacion-pantalla">
    <div class="habitacion-caja">
        <p class="habitacion-descripcion">@Model.Descripcion</p>
        <p class="habitacion-pista">@Model.Pista</p>
        <p class="habitacion-Adivinanza">@Model.Adivinanza</p>

        <div class="habitacion-imagen" style="position: relative;">
            <img src="/img/Habitacion1.webp" alt="Habitación 1" />

            <a href="@Url.Action("Traductor", "Home")" class="btn-traductor" style="position: absolute; left: 85%; top: 30%; width: 80px; height: 80px; display: block;">
                <img src="/img/traductor.png" alt="Ir al traductor" style="width: 100%; height: 100%; object-fit: contain; opacity: 0;" />
            </a>
        </div>

        <form method="post" asp-action="ResolverHabitacion" class="habitacion-formulario">
            <label for="respuesta">Palabra clave:</label>
            <input type="text" name="respuesta" id="respuesta" class="habitacion-input" required />
            <input type="hidden" name="habitacionNumero" value="@Model.Numero" />
            <button type="submit" class="habitacion-boton">Enviar</button>
        </form>

        @if (ViewBag.Error != null)
        {
            <p class="habitacion-error">@ViewBag.Error</p>
        }

        <a href="@Url.Action("Index", "Home")" class="btn-volver">Volver al Inicio</a>
    </div>
</div>

